.page-container {
  width: 100%;
  background-image: url("../../assets/quiz-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  overflow: hidden;
}

.quiz-container {
  background-color: #cb6ce6;
  border-radius: 25px;
  margin-inline: 50px;
}
