h1 {
  color: white;
}
.quizzes-buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 3rem;
}

button.new-quiz-button {
  background-color: #382d3b;
  color: #00fff7;
  border-style: dashed;
  border-color: yellow;
}

button.new-quiz-button:hover {
  background-color: #00fff7;
  color: black;
}

.container {
  display: grid;
  place-items: center;
  margin-bottom: 1em;
  text-align: center;
}
