.page-container {
  width: 100%;
  background-image: url("../../assets/quiz-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: space-between;
  overflow: hidden;
}

.quizzes-buttons {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  margin-top: 3rem;

}

button.new-quiz-button {
  background-color: #382d3b;
  color: #00fff7;
  border-style: dashed;
  border-color: yellow;
}

button.new-quiz-button:hover {
  background-color: #00fff7;
  color: black;
}