.page-container {
  margin: 0;
  display: flex;
  place-items: center;
  width: 100%;
  background-image: url("../../assets/quiz-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.buttons-and-text {
  display: flex;
  flex-direction: column;
}

button.new-quiz-button {
  background-color: #382d3b;
  color: #00fff7;
  border-style: dashed;
  border-color: yellow;
}

button.new-quiz-button:hover {
  background-color: #00fff7;
  color: black;
}
