:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  display: grid;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  background-image: url("./assets/quiz-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1 {
  font-size: 1.6em;
  padding: 5px;
  line-height: 1.1;
  color: white;
  margin-inline: 10px;
}
h2 {
  color: rgba(35, 17, 70, 0.85);
  margin-inline: 10px;
  padding: 5px;
}

h3 {
  color: black;
  margin-inline: 10px;
  padding: 5px;
}
p {
  font-size: 14px;
  color: black;
  margin-inline: 10px;
  padding: 5px;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  border-color: #4d1a7e;
  padding: 0.6em 1.2em;
  margin-inline: 20px;
  margin-block: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #cb6ce6;
  color: black;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 150px;
  height: 60px;
}
button:hover {
  background-color: #00fff7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
